/Java/NetBeansProjects/TP2/nbproject/private/
/Java/NetBeansProjects/TP2/build/
/Java/NetBeansProjects/TP2/dist/
/Java/NetBeansProjects/App3/nbproject/private/
/Java/NetBeansProjects/App3/build/
/Java/NetBeansProjects/App3/dist/
/Java/NetBeansProjects/TP3/nbproject/private/
/Java/NetBeansProjects/TP3/build/
/Java/NetBeansProjects/TP3/dist/