[Desktop Entry]
Encoding=UTF-8
Name=Link to Office 365 Login | Microsoft Office
Type=Link
URL=https://www.office.com/?ref=logout
Icon=text-html
Name[en_US]=Office365
